{
    "semi": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": true,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "bracketSpacing": true
}